

.favourite-background{
    background-color: #99ffcc;
}
.banner{
    background-color:#ffff00;
}
.main-heading{
    font-size: 50px;
    color:red;
}
.sub-head{
    font-size: 30px;
    color:black;
}
#categories-container{
    font-size: 30px;
    text-decoration: underline;

}
.left-side-bar{
    background-color:grey;
}
.group{
    text-decoration: underline;
    color:black;
    font-size: 20px;
}
.pointer{
    cursor:pointer;
}
.buttonxx{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 20px;
    width: 200px;
}
